* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home {
    display: flex;
    align-items: flex-start;
}

.icon-menu {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 320px;
    margin-top: 73px;
    margin-left: 124px;
    cursor: pointer;

}

.icon-menu img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}


.write {
    display: flex;
    margin-top: 10px;
}

.write img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 60px;
    margin-left: 55px;
    transition: all 0.4s;
}

.write img:hover {
    opacity: 0.9;
    cursor: pointer;
}

.wrt input {
    border: none;
    box-shadow: none;
    outline: none;
    margin-top: 80px;
    margin-left: 15px;
    width: 300px;
    font-size: 16px;
}

::placeholder {
    font-size: 20px;
    font-weight: 500;
}



.wrt-icon {
    margin-top: 140px;
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: -310px;
    cursor: pointer;
}

.tweet {
    width: 78px;
    height: 38px;
    border-radius: 20px;
    border: none;
    background-color: #1D9Ef0;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 140px;
    margin-left: 190px;
    cursor: pointer;
}

button:disabled {
    opacity: 0.7;
}

.trends {
    position: absolute;
    top: 13%;
    cursor: pointer;
    right: 9%;
}

.trends strong {
    font-size: 1.2rem;
    margin-left: 10px;
}

.trends .trend {
    width: 345px;
    height: 85px;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s;
}

.trends .trend:hover {
    background-color: #f5f5f5;
}

.trends .trend-item {
    margin-top: 10px;
}

.trend .tr-title {
    color: #536174;
    font-size: 13px;
    margin-left: 13px;
    margin-top: 8px;
}

.trend .tr-descp {
    color: #0F1419;
    font-size: 15px;
    margin-left: 13px;
    font-weight: bold;
}


.trend .tr-count {
    color: #536174;
    font-size: 13px;
    margin-left: 13px;
    margin-bottom: 13px;
}

.tr-content {
    display: flex;
    flex-direction: column;
}

.dotted {
    margin-right: 12px;
    margin-top: 10px;
}

.show-more a {
    text-decoration: none;
    color: #1D9Ef0;
    font-weight: 500;
    margin-left: 13px;
}

.post {
    margin-top: 240px;
    margin-left: -570px;
}

.post .title {
    display: flex;
}

.post .title-text {
    display: flex;
    margin-left: 8px;
}

.post .user {
    font-weight: 650;
    font-size: 16px;
    color: #0F1419;
}

.post .user-tag {
    margin-top: 2px;
    margin-left: 4px;
    color: #536174;
    font-size: 14px;
}

.post .point {
    margin-left: 10px;
    display: flex;
}

.post .date {
    color: #536174;
    font-size: 14px;
    margin-top: 2px;
    margin-left: -6px;
}

.post .ico {
    margin-left: 160px;
    cursor: pointer;
}

.post .dt {
    margin-bottom: 10px;
}

.post-content .post-descp {
    margin-left: -505px;
    margin-top: 30px;
}

.post-content img {
    width: 500px;
    height: 400px;
    object-fit: contain;
    margin-top: 10px;
    margin-left: -555px;
}

.post-action {
    display: flex;
    justify-content: space-between;
    width: 380px;
    margin-top: 49.5%;
    margin-left: -52.5%;
    margin-bottom: 20px;
}

.post-item{
    display: flex;
    flex-direction: column;
}